Linear regression analysis draws a best-fit line on a scatterplot to predict the dependent variable based on one or multiple independent variables. The best-fit line represents the best model that minimizes absolute error from the dispersed scatter point.

In [ ]:
import pandas as pd

# a code to import PANDAS, or python data analysis library into 
# Google Colaboratory

In [ ]:
from google.colab import files
uploaded = files.upload()

# a code to import a file from the computer

Saving Salaries.csv to Salaries.csv

In [ ]:
uploaded = files.upload()

# a code to import a file from the computer

Saving Batting.csv to Batting.csv

In [ ]:
uploaded = files.upload()

# a code to import a file from the computer

Saving Pitching.csv to Pitching.csv

In [ ]:
uploaded = files.upload()

# a code to import a file from the computer

Saving Fielding.csv to Fielding.csv

In [ ]:
uploaded = files.upload()

# a code to import a file from the computer

Saving HallOfFame.csv to HallOfFame.csv

In [ ]:
uploaded = files.upload()

# a code to import a file from the computer

Saving AwardsSharePlayers.csv to AwardsSharePlayers (1).csv

In [ ]:
csv_batting = pd.read_csv("Batting.csv")
csv_batting.head()

# a code to name the uploaded file 'Batting.csv' as 'csv_batting' and 
# print the first few lines of the file

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
csv_salaries = pd.read_csv("Salaries.csv")
csv_salaries.head()

# The Salaries.csv file is recalled with the name of 'csv_salaries' to 
# print the first few lines of the dataset

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [ ]:
merged_data_btsl = csv_batting.merge(csv_salaries,on=["playerID", "yearID"])
merged_data_btsl.head()

# the merge() function is applied on csv_batting to merge the RBI data and 
# salary data on the intersection of 'playerID' and 'yearID' 
# the newly assigned 'merged_data_btsl' displays the first few lines of the 
# merged data
# By grouping the dataframe, I'm trying to collect set of players with both  
# of their salary and RBI record shown

,playerID,yearID,stint,teamID_x,lgID_x,G,AB,R,H,2B,...,BB,SO,IBB,HBP,SH,SF,GIDP,teamID_y,lgID_y,salary
0,ackerji01,1985,1,TOR,AL,61,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOR,AL,170000
1,agostju01,1985,1,CHA,AL,54,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CHA,AL,147500
2,aguaylu01,1985,1,PHI,NL,91,165.0,27.0,46.0,7.0,...,22.0,26.0,5.0,6.0,4.0,3.0,7.0,PHI,NL,237000
3,alexado01,1985,1,TOR,AL,36,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOR,AL,875000
4,allenne01,1985,1,SLN,NL,23,2.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,SLN,NL,750000

In [ ]:
dfmerg_btsl = merged_data_btsl.query('yearID == 2007 and RBI > 79')

# The RBI value is filtered to display data that are above 79 to collect 
# data from the top 75% of the players 
# We chose 2007 randomly to control inflation variable
# The yearID value is filtered to be equal to 2007 so that the regression 
# result is clearly understandable

In [ ]:
dfmerg_btsl_2 = merged_data_btsl

# The 'dfmerg_btsl_2' is assigned to not have a filter so that this dataset 
# can be compared with that with filters as written above

In [ ]:
dfmerg3 = merged_data_btsl.query('RBI > 79')

# 'dfmerg3' is assigned to be dataset of 'merged_data_btsl' with 
# filtration of RBI > 79

In [ ]:
csv_sal = pd.read_csv("Salaries.csv")
csv_sal.head()

# 'Salaries.csv' is recalled and assigned into 'csv_sal' to print out the 
# first few lines of the dataframe.

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [ ]:
csv_pitch = pd.read_csv("Pitching.csv")
csv_pitch.head()

# 'Pitching.csv' is recalled and assigned into 'csv_pitch' to print out 
# the first few lines of the dataframe.

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,NaN,NaN,0,NaN,NaN,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,NaN,NaN,0,NaN,NaN,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,NaN,NaN,0,NaN,NaN,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,NaN,NaN,0,NaN,NaN,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,NaN,NaN,0,NaN,NaN,21,NaN,NaN,NaN

In [ ]:
merged_data_pitch = csv_sal.merge(csv_pitch,on=["playerID", "yearID"])
merged_data_pitch.head()

# csv_sal and csv_pitch are merged together. merged_data_pitch was assigned 
# to display the merged data on the intersection of playerID and yearID. 
# The first few lines of intersection are displayed in the output.

,yearID,teamID_x,lgID_x,playerID,salary,stint,teamID_y,lgID_y,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,1985,ATL,NL,barkele01,870000,1,ATL,NL,2,9,...,1.0,3.0,1.0,0,335.0,1.0,55,NaN,NaN,NaN
1,1985,ATL,NL,bedrost01,550000,1,ATL,NL,7,15,...,6.0,6.0,5.0,0,907.0,0.0,101,NaN,NaN,NaN
2,1985,ATL,NL,campri01,633333,1,ATL,NL,4,6,...,11.0,4.0,5.0,0,569.0,23.0,72,NaN,NaN,NaN
3,1985,ATL,NL,dedmoje01,150000,1,ATL,NL,6,3,...,14.0,2.0,1.0,1,377.0,15.0,52,NaN,NaN,NaN
4,1985,ATL,NL,forstte01,483333,1,ATL,NL,2,3,...,4.0,1.0,0.0,0,253.0,19.0,22,NaN,NaN,NaN

In [ ]:
dfmerg_pitch = merged_data_pitch.query('yearID == 2007 and ERA < 2.44')

# The existing merged_data_pitch filtered yearID and ERA with conditions and 
# assigned this new dataframe to dfmerg_pitch. 
# 2007 was chosen to be able to compare the result with other results and 
# 2.44 was selected to filter top 25% of players.

In [ ]:
dfmerg_pitch_2 = merged_data_pitch.query('yearID == 2007 and ERA < 6.91')

# The existing merged_data_pitch filtered yearID and ERA with conditions and 
# assigned this new dataframe to dfmerg_pitch_2. 
# We chose 2007 to compare the result with other results and 
# We chose 2.44 to filter top 75% of players.

In [ ]:
csv_HOF = pd.read_csv("HallOfFame.csv")
csv_HOF.head()

# The 'HallOfFame.csv' is recalled into csv_HOF to display the first 
# few lines in the output.

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN

In [ ]:
merged_data_ballot = csv_sal.merge(csv_HOF, right_on=["playerID", "yearid"], left_on=["playerID", "yearID"])
merged_data_ballot

# recalled csv_sal is merged with csv_HOF to form merged_data_ballot file by 
# using parameters of 'right_on' and 'left on'. The function of these 
# parameters is not to create a new data on intersection, but instead moving 
# one data to the other.

,yearID,teamID,lgID,playerID,salary,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
0,2013,ATL,NL,francju02,496250,2013,BBWAA,569.0,427.0,6.0,N,Player,NaN

In [ ]:
csv_share = pd.read_csv("AwardsSharePlayers.csv")
csv_share.head()

# 'AwardsSharePlayers.csv' is recalled and assigned into 'csv_share' to print 
# out the first few lines of the dataframe.

    awardID  yearID lgID   playerID  pointsWon  pointsMax  votesFirst
0  Cy Young    1956   ML   fordwh01        1.0         16         1.0
1  Cy Young    1956   ML  maglisa01        4.0         16         4.0
2  Cy Young    1956   ML  newcodo01       10.0         16        10.0
3  Cy Young    1956   ML  spahnwa01        1.0         16         1.0
4  Cy Young    1957   ML  donovdi01        1.0         16         1.0

In [ ]:
merged_data_awards = csv_sal.merge(csv_share, on=["yearID", "playerID"])
merged_data_awards

# csv_sal is merged with playerID and yearID as a common key that is  
# stored in csv_share 
# to create a new dataframe called merged_data_awards

,yearID,teamID,lgID_x,playerID,salary,awardID,lgID_y,pointsWon,pointsMax,votesFirst
0,1985,ATL,NL,murphda05,1625000,MVP,NL,63.0,336,0.0
1,1985,BAL,AL,murraed02,1472819,MVP,AL,130.0,392,0.0
2,1985,BAL,AL,ripkeca01,800000,MVP,AL,9.0,392,0.0
3,1985,BOS,AL,boggswa01,1000000,MVP,AL,159.0,392,0.0
4,1985,BOS,AL,gedmari01,477500,MVP,AL,1.0,392,0.0
...,...,...,...,...,...,...,...,...,...,...
2369,2015,TOR,AL,encared01,10000000,MVP,AL,38.0,420,0.0
2370,2015,TOR,AL,estrama01,3900000,Cy Young,AL,3.0,210,0.0
2371,2015,TOR,AL,martiru01,7000000,MVP,AL,2.0,420,0.0
2372,2015,WAS,NL,harpebr03,2500000,MVP,NL,420.0,420,30.0
2373,2015,WAS,NL,scherma01,17142000,Cy Young,NL,32.0,210,0.0

In [ ]:
dfmerg_awards_share = merged_data_awards.query('yearID == 2007 and pointsWon > 30')

# the merged_data_awards is filtered with certain conditions to create 
# a new file called dfmerg_awards_share 
# 2007 was chosen in random, while 30 was a data between 50% and 75% pointsWon

In [ ]:
merged_final = merged_data_awards.merge(csv_batting, on=['playerID', 'yearID'])
merged_final.head()

# merged_data_awards is merged with csv_batting on the intersection of yearID 
# and playerID 
# to create a new dataframe called merged_final 
# the purpose of the code is to merge an already merged dataframe to create 
# a new dataframe with two independent variables and one dependent variable

,yearID,teamID_x,lgID_x,playerID,salary,awardID,lgID_y,pointsWon,pointsMax,votesFirst,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1985,ATL,NL,murphda05,1625000,MVP,NL,63.0,336,0.0,...,111.0,10.0,3.0,90.0,141.0,15.0,1.0,0.0,5.0,14.0
1,1985,BAL,AL,murraed02,1472819,MVP,AL,130.0,392,0.0,...,124.0,5.0,2.0,84.0,68.0,12.0,2.0,0.0,8.0,8.0
2,1985,BAL,AL,ripkeca01,800000,MVP,AL,9.0,392,0.0,...,110.0,2.0,3.0,67.0,68.0,1.0,1.0,0.0,8.0,32.0
3,1985,BOS,AL,boggswa01,1000000,MVP,AL,159.0,392,0.0,...,78.0,2.0,1.0,96.0,61.0,5.0,4.0,3.0,2.0,20.0
4,1985,BOS,AL,gedmari01,477500,MVP,AL,1.0,392,0.0,...,80.0,2.0,0.0,50.0,79.0,11.0,3.0,3.0,2.0,12.0

In [ ]:
merged_final_flt = merged_final.query('yearID > 2006 and RBI > 79')

In [ ]:
import statsmodels.formula.api as smf
lr = smf.ols(formula='salary ~ pointsWon + RBI', data=merged_final_flt)
fitted_model = lr.fit()
fitted_model.summary()

# The R-squared value is 0.041, which is not a strong correlation because it is 
# not close to 1. 
# The number of observations is 270, which was improved by applying a 
# bigger range of yearID to show up in the dataset 
# pointsWon show that point 1 is statistically significant, so the regression 
# results show that the plots are significant 
# p>|t| values for pointsWon and RBI are below 0.05, which makes the positive  
# coefficient 95% confident

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.041
Model:                            OLS   Adj. R-squared:                  0.034
Method:                 Least Squares   F-statistic:                     5.694
Date:                Thu, 24 Nov 2022   Prob (F-statistic):            0.00379
Time:                        21:20:30   Log-Likelihood:                -4630.7
No. Observations:                 270   AIC:                             9267.
Df Residuals:                     267   BIC:                             9278.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.583e+06   3.07e+06     -0.516      0.606   -7.62e+06    4.45e+06
pointsWon  -7329.4212   4059.274     -1.806      0.072   -1.53e+04     662.838
RBI         1.036e+05   3.11e+04      3.329      0.001    4.23e+04    1.65e+05
==============================================================================
Omnibus:                       21.081   Durbin-Watson:                   1.539
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               24.221
Skew:                           0.732   Prob(JB):                     5.50e-06
Kurtosis:                       3.087   Cond. No.                     1.24e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.24e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
csv_fld = pd.read_csv("Fielding.csv")
csv_fld.head()

# 'Fielding.csv' is recalled and assigned into 'csv_fld' to print out 
# the first few lines of the dataframe.

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,NaN,NaN,1.0,3.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,NaN,NaN,67.0,72.0,42.0,5.0,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,NaN,NaN,8.0,14.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,NaN,NaN,1.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,NaN,NaN,51.0,3.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged_data_fld = csv_sal.merge(csv_fld, on=["playerID", "yearID"])
merged_data_fld

# csv_sal is merged with playerID and yearID as a common key that is  
# stored in csv_fld 
# to create a new dataframe called merged_data_fld

,yearID,teamID_x,lgID_x,playerID,salary,stint,teamID_y,lgID_y,POS,G,...,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,1985,ATL,NL,barkele01,870000,1,ATL,NL,P,20,...,221.0,2.0,9.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1985,ATL,NL,bedrost01,550000,1,ATL,NL,P,37,...,620.0,13.0,23.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN
2,1985,ATL,NL,benedbr01,545000,1,ATL,NL,C,70,...,1698.0,314.0,35.0,4.0,1.0,1.0,9.0,65.0,24.0,1.0
3,1985,ATL,NL,campri01,633333,1,ATL,NL,P,66,...,383.0,7.0,13.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN
4,1985,ATL,NL,ceronri01,625000,1,ATL,NL,C,91,...,2097.0,384.0,48.0,6.0,4.0,6.0,20.0,69.0,29.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51938,2015,WAS,NL,werthja01,21000000,1,WAS,NL,OF,86,...,NaN,113.0,3.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
51939,2015,WAS,NL,zimmejo02,16500000,1,WAS,NL,P,33,...,NaN,16.0,29.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
51940,2015,WAS,NL,zimmery01,14000000,1,WAS,NL,1B,93,...,NaN,726.0,49.0,4.0,63.0,NaN,NaN,NaN,NaN,NaN
51941,2015,WAS,NL,zimmery01,14000000,1,WAS,NL,LF,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51942,2015,WAS,NL,zimmery01,14000000,1,WAS,NL,OF,1,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfmerg_fld = merged_data_fld

In [ ]:
merged_final_2 = merged_data_fld.merge(csv_share, on=['playerID', 'yearID'])
merged_final_2.head()

# merged_data_fld is merged with playerID and yearID as a common key that is  
# stored in csv_share 
# to create a new dataframe called merged_final_2

,yearID,teamID_x,lgID_x,playerID,salary,stint,teamID_y,lgID_y,POS,G,...,WP,SB,CS,ZR,E2,awardID,lgID,pointsWon,pointsMax,votesFirst
0,1985,ATL,NL,murphda05,1625000,1,ATL,NL,CF,161,...,NaN,NaN,NaN,NaN,5,MVP,NL,63.0,336,0.0
1,1985,ATL,NL,murphda05,1625000,1,ATL,NL,OF,161,...,NaN,NaN,NaN,NaN,5,MVP,NL,63.0,336,0.0
2,1985,BAL,AL,murraed02,1472819,1,BAL,AL,1B,154,...,NaN,NaN,NaN,NaN,3,MVP,AL,130.0,392,0.0
3,1985,BAL,AL,murraed02,1472819,1,BAL,AL,DH,2,...,NaN,NaN,NaN,NaN,NaN,MVP,AL,130.0,392,0.0
4,1985,BAL,AL,ripkeca01,800000,1,BAL,AL,SS,161,...,NaN,NaN,NaN,NaN,2,MVP,AL,9.0,392,0.0

In [ ]:
merged_final_2_flt = merged_final_2.query('yearID > 2010 and pointsWon > 30')

# recall merged_final_2 and filter it by yearID and pointsWon and store this 
# data into merged_final_2_flt 
# We chose yearID to be greater than 2010 to collect many number of
# observations in the current years and we chose 30 because it was a value 
# between 50% and 75%

In [ ]:
lr = smf.ols(formula='salary ~ pointsWon + E', data=merged_final_2_flt)
fitted_model = lr.fit()
fitted_model.summary()

# The R-squared value is 0.023, which is not a strong correlation because 
# it is not close to 1 
# The number of observations is 36, which can be improved by applying a 
# greater range in the query function or add 0 to null values to include all
# players regardless of their status or fame 
# The number of obervations was improved by applying a greater 
# range of the yearID, which yielded 227 observations 
# Intercept coefficient shows that the correlation between two 
# independent variables and dependent variable is slightly positive 
# regression results show that the linear regression is not significant because 
# we have a variable E with a high P value

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.014
Method:                 Least Squares   F-statistic:                     2.620
Date:                Thu, 24 Nov 2022   Prob (F-statistic):             0.0750
Time:                        17:04:58   Log-Likelihood:                -3915.6
No. Observations:                 227   AIC:                             7837.
Df Residuals:                     224   BIC:                             7847.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.006e+07   9.33e+05     10.779      0.000    8.22e+06    1.19e+07
pointsWon   -1.23e+04   5415.219     -2.272      0.024    -2.3e+04   -1631.497
E            6.76e+04   1.13e+05      0.599      0.550   -1.55e+05     2.9e+05
==============================================================================
Omnibus:                       15.222   Durbin-Watson:                   1.109
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               16.064
Skew:                           0.618   Prob(JB):                     0.000325
Kurtosis:                       2.590   Cond. No.                         301.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
csv_G = pd.read_csv("Batting.csv")
csv_G.head()

# a code to name the uploaded file 'Batting.csv' as 'csv_G' and print the 
# first few lines of the file

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
merged_data_G = csv_sal.merge(csv_G, on=["playerID", "yearID"])
merged_data_G

# csv_sal is merged with playerID and yearID as a common key that is  
# stored in csv_G 
# to create a new dataframe called merged_data_G

,yearID,teamID_x,lgID_x,playerID,salary,stint,teamID_y,lgID_y,G,AB,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1985,ATL,NL,barkele01,870000,1,ATL,NL,20,17.0,...,0.0,0.0,1.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0
1,1985,ATL,NL,bedrost01,550000,1,ATL,NL,37,64.0,...,1.0,0.0,0.0,1.0,22.0,0.0,0.0,6.0,0.0,0.0
2,1985,ATL,NL,benedbr01,545000,1,ATL,NL,70,208.0,...,20.0,0.0,1.0,22.0,12.0,1.0,1.0,4.0,2.0,8.0
3,1985,ATL,NL,campri01,633333,1,ATL,NL,66,13.0,...,2.0,0.0,0.0,1.0,5.0,0.0,0.0,1.0,0.0,0.0
4,1985,ATL,NL,ceronri01,625000,1,ATL,NL,96,282.0,...,25.0,0.0,3.0,29.0,25.0,1.0,1.0,0.0,4.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27380,2015,WAS,NL,treinbl01,512800,1,WAS,NL,60,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0
27381,2015,WAS,NL,ugglada01,507500,1,WAS,NL,67,120.0,...,16.0,0.0,1.0,19.0,40.0,0.0,1.0,0.0,1.0,3.0
27382,2015,WAS,NL,werthja01,21000000,1,WAS,NL,88,331.0,...,42.0,0.0,1.0,38.0,84.0,0.0,3.0,0.0,6.0,8.0
27383,2015,WAS,NL,zimmejo02,16500000,1,WAS,NL,33,63.0,...,3.0,0.0,0.0,0.0,18.0,0.0,0.0,6.0,0.0,0.0
27384,2015,WAS,NL,zimmery01,14000000,1,WAS,NL,95,346.0,...,73.0,1.0,0.0,33.0,79.0,0.0,1.0,0.0,10.0,13.0

In [ ]:
dfmerg_G = merged_data_G

In [ ]:
merged_final_3 = dfmerg_G.merge(csv_share, on=['playerID', 'yearID'])
merged_final_3.head()

# dfmerg_G is merged with playerID and yearID as a common key that is  
# stored in csv_share 
# to create a new dataframe called merged_final_3

,yearID,teamID_x,lgID_x,playerID,salary,stint,teamID_y,lgID_y,G,AB,...,HBP,SH,SF,GIDP,E3,awardID,lgID,pointsWon,pointsMax,votesFirst
0,1985,ATL,NL,murphda05,1625000,1,ATL,NL,162,616.0,...,1.0,0.0,5.0,14.0,1,MVP,NL,63.0,336,0.0
1,1985,BAL,AL,murraed02,1472819,1,BAL,AL,156,583.0,...,2.0,0.0,8.0,8.0,1,MVP,AL,130.0,392,0.0
2,1985,BAL,AL,ripkeca01,800000,1,BAL,AL,161,642.0,...,1.0,0.0,8.0,32.0,1,MVP,AL,9.0,392,0.0
3,1985,BOS,AL,boggswa01,1000000,1,BOS,AL,161,653.0,...,4.0,3.0,2.0,20.0,1,MVP,AL,159.0,392,0.0
4,1985,BOS,AL,gedmari01,477500,1,BOS,AL,144,498.0,...,3.0,3.0,2.0,12.0,2,MVP,AL,1.0,392,0.0

In [ ]:
merged_final_3_flt = merged_final_3.query('yearID > 1980 and G > 34')

# recall merged_final_3 and filter it by yearID and G, and store this data 
# into merged_final_3_flt
# We chose yearID > 1980 to include more observations for linear 
# regression and we chose 34 was because it was a value between 50% and 75%

In [ ]:
lr = smf.ols(formula='salary ~ pointsWon + G', data=merged_final_3_flt)
fitted_model = lr.fit()
fitted_model.summary()

# The R-squared value is 0.031, which is not a strong correlation because 
# it is not close to 1. But this is better than the previous regression results 
# becaue R-squared has slightly increased.                                               
# All P values are below 0.01, which make the correlation 99% confident. 
# This was different from the other regression results because this data 
# only have variables that are statistically significant.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.031
Model:                            OLS   Adj. R-squared:                  0.030
Method:                 Least Squares   F-statistic:                     30.47
Date:                Thu, 24 Nov 2022   Prob (F-statistic):           9.44e-14
Time:                        19:35:16   Log-Likelihood:                -31854.
No. Observations:                1892   AIC:                         6.371e+04
Df Residuals:                    1889   BIC:                         6.373e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.327e+06   3.47e+05      6.712      0.000    1.65e+06    3.01e+06
pointsWon   6983.2764   1347.861      5.181      0.000    4339.823    9626.730
G           1.204e+04   2755.891      4.368      0.000    6632.258    1.74e+04
==============================================================================
Omnibus:                      606.617   Durbin-Watson:                   1.296
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1677.682
Skew:                           1.688   Prob(JB):                         0.00
Kurtosis:                       6.145   Cond. No.                         461.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
lr = smf.ols(formula='salary ~ pointsWon + yearID', data=merged_final_3)
fitted_model = lr.fit()
fitted_model.summary()

# The P values are strong because they are less than 0.01 (99% confident)
# we are confident that the variables are correlated with salary 
# the R-squared value suggests that this linear regression explains the most 
# about variance in salary 
# the R-squared value is far from 1 because there are lots of factors that 
# explain the variance in salaries, but not captured in our data 
# other factors: (cost of living, leadership, experience, past teams)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.242
Model:                            OLS   Adj. R-squared:                  0.242
Method:                 Least Squares   F-statistic:                     385.8
Date:                Thu, 24 Nov 2022   Prob (F-statistic):          4.08e-146
Time:                        19:36:38   Log-Likelihood:                -40514.
No. Observations:                2417   AIC:                         8.103e+04
Df Residuals:                    2414   BIC:                         8.105e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -5.546e+08    2.1e+07    -26.434      0.000   -5.96e+08   -5.13e+08
pointsWon   8121.3685   1146.295      7.085      0.000    5873.544    1.04e+04
yearID      2.792e+05   1.05e+04     26.620      0.000    2.59e+05       3e+05
==============================================================================
Omnibus:                      529.555   Durbin-Watson:                   1.547
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1360.544
Skew:                           1.173   Prob(JB):                    3.64e-296
Kurtosis:                       5.830   Cond. No.                     4.48e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.48e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
fitted_model.predict(merged_final_3)

# pointsWon and yearID are significant, but the model is not predictive enough
# the model predicts negative salary

0       2.068139e+05
1       7.509456e+05
2      -2.317400e+05
3       9.864652e+05
4      -2.967110e+05
            ...
2412    8.381010e+06
2413    8.096763e+06
2414    8.088641e+06
2415    1.148337e+07
2416    8.332282e+06
Length: 2417, dtype: float64

In [ ]:
df_merged_final_3 = merged_final_3.loc[:, ['salary', 'playerID']]
print(df_merged_final_3)

# a location function is applied on the already existing dataframe called 
# 'df_merged_final_3' to locate 'salary' and 'playerID' to print.  
# This data was the actual salary. By comparing the two datasets, we can 
# conclude that linear regression with two indepednent variables 
# was not strong enough to make accurate predictions.

        salary   playerID
0      1625000  murphda05
1      1472819  murraed02
2       800000  ripkeca01
3      1000000  boggswa01
4       477500  gedmari01
...        ...        ...
2412  10000000  encared01
2413   3900000  estrama01
2414   7000000  martiru01
2415   2500000  harpebr03
2416  17142000  scherma01

[2417 rows x 2 columns]